:root {
  --color-generic-white: #FFFFFF;
  --color-generic-black: #000000;
  --color-generic-greyblue-d60: #000001;
  --color-generic-greyblue-d40: #0B1821;
  --color-generic-greyblue-original: #172731;
  --color-generic-greyblue-l10: #213746;
  --color-generic-greyblue-l20: #3E5462;
  --color-generic-greyblue-l30: #5C707E;
  --color-generic-greyblue-l40: #7B8D99;
  --color-generic-greyblue-l50: #9AA9B3;
  --color-generic-greyblue-l60: #BAC5CD;
  --color-generic-greyblue-l70: #DBE1E5;
  --color-generic-greyblue-l80: #ECEFF2;
  --color-generic-greyblue-l90: #F6F7F9;

  --color-gl-blue-original: #002D6A;
  --color-gl-blue-l20: #335788;
  --color-gl-blue-l40: #6681A6;
  --color-gl-blue-l60: #99ABC3;
}