:root {
  --color-ally-shockblue: #6BEAFF;
  --color-ally-shockyellow: #FBFB0F;
  --color-ally-shockpink: #FF5CC3;
  --color-ally-sshockpurple: #B880FF;
  --color-ally-shockgreen: #42E051;
  --color-ally-shockred: #FF6363;
}