:root {
  --color-dark-primary-d90: #002C5F;
  --color-dark-primary-d80: #00397B;
  --color-dark-primary-d60: #00489B;
  --color-dark-primary-d40: #1B70D2;
  --color-dark-primary-d20: #55A4FF;
  --color-dark-primary-original: #85B9F5;
  --color-dark-primary-l20: #AACEF8;
  --color-dark-primary-l40: #CEE5FF;

  --color-dark-secondary-d90: #59072E;
  --color-dark-secondary-d80: #701640;
  --color-dark-secondary-d60: #8F2557;
  --color-dark-secondary-d40: #BD3A78;
  --color-dark-secondary-d20: #EA6FA9;
  --color-dark-secondary-original: #F398C3;
  --color-dark-secondary-l20: #FFB3D7;
  --color-dark-secondary-l40: #FFD9F6;

  --color-dark-secondary-alt-d90: #22046B;
  --color-dark-secondary-alt-d80: #2E0F7B;
  --color-dark-secondary-alt-d60: #3B1796;
  --color-dark-secondary-alt-d40: #5830BC;
  --color-dark-secondary-alt-d20: #8B65EA;
  --color-dark-secondary-alt-original: #A98EEE;
  --color-dark-secondary-alt-l20: #C8B3FF;
  --color-dark-secondary-alt-l40: #DFD2FF;

  --color-dark-tertiary-d90: #013F44;
  --color-dark-tertiary-d80: #055056;
  --color-dark-tertiary-d60: #0A676E;
  --color-dark-tertiary-d40: #1F9098;
  --color-dark-tertiary-d20: #59B2B9;
  --color-dark-tertiary-original: #80D2D8;
  --color-dark-tertiary-l20: #ABE7EC;
  --color-dark-tertiary-l40: #D1F2F4;
  
  --color-dark-tertiary-alt-d90: #642C0C;
  --color-dark-tertiary-alt-d80: #733817;
  --color-dark-tertiary-alt-d60: #96471B;
  --color-dark-tertiary-alt-d40: #C75D22;
  --color-dark-tertiary-alt-d20: #E27E47;
  --color-dark-tertiary-alt-original: #F09D6F;
  --color-dark-tertiary-alt-l20: #F5B997;
  --color-dark-tertiary-alt-l40: #FFD5BE;

  --color-dark-success-d60: #0A640A;
  --color-dark-success-d40: #259F25;
  --color-dark-success-d20: #60B75A;
  --color-dark-success-original: #8CCF87;
  --color-dark-success-l20: #AADDA7;
  --color-dark-success-l40: #D5FCD2;

  --color-dark-error-d60: #952121;
  --color-dark-error-d40: #B83F3F;
  --color-dark-error-d20: #D66B6B;
  --color-dark-error-original: #F59B9B;
  --color-dark-error-l20: #FFBFBF;
  --color-dark-error-l40: #FFD6D6;

  --color-dark-warning-d60: #AA8508;
  --color-dark-warning-d40: #D9B43F;
  --color-dark-warning-d20: #EFCB56;
  --color-dark-warning-original: #F7DB82;
  --color-dark-warning-l20: #FEECB2;
  --color-dark-warning-l40: #FFF4D2;
}