:root {
  --color-light-primary-d40: #003B80;
  --color-light-primary-d20: #004FAA;
  --color-light-primary: #1976D2;
  --color-light-primary-l30: #55A4FF;
  --color-light-primary-l40: #B3D6FF;
  --color-light-primary-l60: #D9EBFF;
  --color-light-primary-l70: #ECF5FF;

  --color-light-secondary-d40: #80003D;
  --color-light-secondary-d20: #A90B52;
  --color-light-secondary: #CE4080;
  --color-light-secondary-l30: #F0539A;
  --color-light-secondary-l40: #FF80BC;
  --color-light-secondary-l50: #FFB3D7;
  --color-light-secondary-l60: #FFD9EB;
  --color-light-secondary-l70: #FFECF5;

  --color-light-secondary-alt-d40: #250080;
  --color-light-secondary-alt-d20: #380BA9;
  --color-light-secondary-alt: #6840CE;
  --color-light-secondary-alt-l30: #8D60FE;
  --color-light-secondary-alt-l40: #A480FF;
  --color-light-secondary-alt-l50: #CFBDFF;
  --color-light-secondary-alt-l60: #E3D9FF;
  --color-light-secondary-alt-l70: #F1ECFF;

  --color-light-tertiary-d40: #00545A;
  --color-light-tertiary-d20: #0A676E;
  --color-light-tertiary: #2D8187;
  --color-light-tertiary-l30: #5FBCC3;
  --color-light-tertiary-l40: #80D4DA;
  --color-light-tertiary-l50: #B3E5E9;
  --color-light-tertiary-l60: #D9F2F4;
  --color-light-tertiary-l70: #ECF9FA;

  --color-light-tertiary-alt-d40: #903A09;
  --color-light-tertiary-alt-d20: #A94A16;
  --color-light-tertiary-alt: #C35619;
  --color-light-tertiary-alt-l30: #E46E2C;
  --color-light-tertiary-alt-l40: #F18F59;
  --color-light-tertiary-alt-l50: #F5B997;
  --color-light-tertiary-alt-l60: #FADCCB;
  --color-light-tertiary-alt-l70: #FCEEE6;

  --color-light-success-d40: #006100;
  --color-light-success-d20: #007400;
  --color-light-success: #108718;
  --color-light-success-l30: #55C955;
  --color-light-success-l50: #B3EDB3;
  --color-light-success-l70: #D9F6D9;

  --color-light-error-d40: #800000;
  --color-light-error-d20: #AA0000;
  --color-light-error: #C50007;
  --color-light-error-l30: #FF5555;
  --color-light-error-l50: #FFB3B3;
  --color-light-error-l70: #FFD9D9;

  --color-light-warning-d40: #926822;
  --color-light-warning-d20: #B68C02;
  --color-light-warning: #E4AF03;
  --color-light-warning-l30: #FCCF3C;
  --color-light-warning-l50: #FEEAAA;
  --color-light-warning-l70: #FFF5D4;
}